@import "tailwindcss";
:root {
  background-color: #f5f7fb; /* The light grey-blue from your design */
  color-scheme: light;
}

body {
  margin: 0;
  padding: 0;
  display: block; /* This removes the Vite centering! */
  min-width: 100vw;
  min-height: 100vh;
}

#root {
  width: 100%;
}